<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
  <h1 class="text-center my-4">Register</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form th:action="@{/finance/register}" th:object="${user}" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input type="text" id="username" class="form-control" th:field="*{userName}" required>
          <div th:if="${#fields.hasErrors('username')}" th:errors="*{userName}" class="text-danger"></div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" id="password" class="form-control" th:field="*{password}" required>
          <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Register</button>
      </form>
      <p th:text="${message}" class="mt-3 text-success"></p>
    </div>
  </div>
</div>
</body>
</html>
